* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
}

input[type=text]{
 font-weight: bold;
     font-size: 1.5em;
     font-family: 'Quicksand', sans-serif;
     padding: inherit;
     margin-left: -2px;
     width: auto;
     display: inline;
}
input:hover{
border-color: transparent;
  color: inherit;
  background: inherit;
}

input:focus{
border-color: transparent;
  color: inherit;
  background: inherit;
}

input[type=text]:not(:focus):not(:hover) {
  border-color: transparent;
  color: inherit;
  background: inherit;
}

form:nth-child(2) > input[type=text]:not(:focus):not(:hover) {
    border: 2px solid #0077ff8a;
    border-radius: 4px;
    color: inherit;
    background: inherit
}

.app {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #ffffff;
}

.name{
font-size: 2em;
    font-weight: bold;
        color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;

}

.weather-button {
    background-color:#45b4c7;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:11px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.weather-button:hover {
	background-color:#5cbf2a;
}
 .weather-button:active {
	position:relative;
	top:1px;
}


.quote-wrapper {
margin: 50px;
width: 500px;
}

.quote-button {
 background-color:#45b4c7;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.background-img {
   width: 100%;
   height: 100vh;
}

.time {
  font-size: 8rem;
}

.month {
  font-size: 4rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.weather-button {
  background-color: #102e9c;
  color: white;
  border: blue;
  border-radius: 15px;
}

.weather-error {
 margin: 50px;
}


.show-weather-wrapper {
margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon {
width: 100px;
}

.temperature {

}

.mainWeather {

}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
